{% extends 'layout2.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-center align-items-center min-vh-100" >
       <div class="card common_card " style="max-width: 500px">
           <div class="card__title">
               <h4>Login</h4>
           </div>
           <div class="card-body">
           <form method="post">
               {% csrf_token %}
               <div class="form-group mb-3">
                   <label for="email">Email</label>
                   <input type="email" name="username" class="form-control" id="email" placeholder="Email">
                 </div>
                
            
                 <div class="form-group mb-3">
                   <label for="password"> Password</label>
                   <input type="password" name="password" class="form-control" id="password" placeholder="confirm Password">
                 </div>
                 <div class="form-group mb-3 text-center">
                   <button class="btn btn-primary" type="submit">Submit</button>
                 </div>
           </form>
         </div>
       </div>
    </div>
     </div>
     {% endblock %}