{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="">
    <div class="card common_card" style="max-width: 500px">
      <div class="card__title">
        <h4>Add Project</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <div class="mb-3">
            <label for="id_Name">User: </label>
            {{ form.all_users }}
          </div>
          <div class="mb-3">
            <label for="id_Phone_number">Project name: </label>
            {{ form.project_name }}
          </div>
          <div class="mb-3">
            <label for="id_Address">Project cost: </label>
            {{ form.project_cost }}
          </div>
          <div class="mb-3">
            <label for="id_Name">invoice number: </label>
            {{ form.invoice_number }}
          </div>

          <div class="mb-3">
            <label for="id_Name">Invice date: </label>
            {{ form.invoice_date }}
          </div>

          <div class="mb-3">
            <label for="id_Name">Project cost paid: </label>
            {{ form.project_cost_paid }}
          </div>

          <div class="mb-3 text-center">
            <input class="btn btn-primary" type="submit" value="Save" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
