{% extends 'layout.html' %}

{% block content %}
    <div class="container">
     <div class="d-flex justify-content-center align-items-center min-vh-100" >
        <div class="card common_card " style="max-width: 500px">
            <div class="card__title">
                <h4>Add User</h4>
            </div>
            <div class="card-body">
            <form action="" method="post">
                <div class="form-group mb-3">
                    <label for="name">Name</label>
                    <input type="text" name="" class="form-control" id="name" placeholder="Name">
                  </div>
                  <div class="form-group mb-3">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Email">
                  </div>
                  <div class="form-group mb-3">
                    <label for="role">Role</label>
                    <select class="form-select" id="role">
                        <option  value="admin" selected>Admin</option>
                        <option value="user">User</option>
                        <option value="member">Member</option>
                 
                      </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="password">Create Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password">
                  </div>
                  <div class="form-group mb-3">
                    <label for="c_password">Confirm Password</label>
                    <input type="c_password" class="form-control" id="c_password" placeholder="confirm Password">
                  </div>
                  <div class="form-group mb-3 text-center">
                    <button class="btn btn-primary" type="submit">Submit</button>
                    <a href="users.html"><button class="btn btn-outline-danger" >Back</button></a>
                  </div>
            </form>
          </div>
        </div>
     </div>
      </div>
   {% endblock %}